<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDeviceMapper">
    
    <resultMap type="SysDevice" id="SysDeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="endDate"    column="end_date"    />
        <result property="activationDate"    column="activation_date"    />
        <result property="remark"    column="remark"    />
        <result property="roleSort"    column="role_sort"    />
    </resultMap>

    <sql id="selectSysDeviceVo">
        select device_id, end_date, activation_date, role_sort
        from sys_device
    </sql>

    <select id="selectSysDeviceList" parameterType="SysDevice" resultMap="SysDeviceResult">
        <include refid="selectSysDeviceVo"/>
        <where>  
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="activationDate != null "> and activation_date = #{activationDate}</if>
            <if test="remark != null "> and remark = #{remark}</if>
            <if test="roleSort != null "> and role_sort = #{roleSort}</if>
        </where>
    </select>
    
    <select id="selectSysDeviceByDeviceId" parameterType="String" resultMap="SysDeviceResult">
        <include refid="selectSysDeviceVo"/>
        where device_id = #{deviceId}
    </select>

    <insert id="insertSysDevice" parameterType="SysDevice">
        insert into sys_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="endDate != null">end_date,</if>
            <if test="activationDate != null">activation_date,</if>
            <if test="remark != null">remark,</if>
            <if test="roleSort != null">role_sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="activation_date != null">#{activationDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="roleSort != null">#{roleSort},</if>
         </trim>
    </insert>

    <update id="updateSysDevice" parameterType="SysDevice">
        update sys_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="activationDate != null">activation_date = #{activationDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="roleSort != null">role_sort = #{roleSort},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteSysDeviceByDeviceId" parameterType="String">
        delete from sys_device where device_id = #{deviceId}
    </delete>

    <delete id="deleteSysDeviceByDeviceIds" parameterType="String">
        delete from sys_device where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
    
    
    <select id="checkDevice" parameterType="SysDevice" resultMap="SysDeviceResult">
        select end_date from sys_device where device_id = #{deviceId}
    </select>

</mapper>